<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:name=".NetiClient"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="35">


        <activity
            android:enableOnBackInvokedCallback="true"
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgets.CurrentWeekLabelWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/current_week_label_widget_info" />
        </receiver>

        <service
            android:name=".services.ScheduleService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <meta-data
            android:name="com.dertefter.neticlient.LICENSE"
            android:value="MIT License" />

        <receiver android:name=".widgets.schedule_widget.ScheduleWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_info" />
        </receiver>

        <service
            android:name=".widgets.schedule_widget.LessonWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />



    </application>

</manifest>